body{
 font-size: 16px;
 margin: 0;
 padding:0;
}
nav{
  background-color: aliceblue;
  margin-top: 18px;
  margin-bottom: 15px;
  padding: 14px;
}
nav a{
  text-decoration: none;
  padding: 15px;
  color: fuchsia;
  font-family: helvetica, sans-serif;

}
nav a:hover{
/*   text-decoration: underline overline; */
  border-top: 4px solid aqua;
  border-bottom: 4px solid aqua;
  text-shadow: 4px 4px 5px gray;
}
